################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VShop/FileContentIndex/02404c9e-4084-434b-8f80-2c46acdb9cc5.vsidx
/.vs/VShop/FileContentIndex/3aeed405-830e-4746-a988-4aef65718efa.vsidx
/.vs/VShop/FileContentIndex/7329a91f-f3c7-4833-8c60-f958c50f448f.vsidx
/.vs/VShop/FileContentIndex/897c58f0-ceb6-404e-bdfd-1e48193ffd21.vsidx
/.vs/VShop/FileContentIndex/f756eb92-f213-415e-9586-ec30a1a9daf2.vsidx
/.vs/VShop/FileContentIndex/103fdee0-36a9-451b-ac12-d1ab72081962.vsidx
/.vs/VShop/FileContentIndex/1808c14e-f718-44b2-ad55-0e129a705250.vsidx
/.vs/VShop/FileContentIndex/195d0f1a-94d3-4371-a26c-7881f54fa7e8.vsidx
/.vs/VShop/FileContentIndex/20bd53f9-e060-41ef-9b76-be70d3c4a3af.vsidx
/.vs/VShop/FileContentIndex/24cab89e-4401-4480-b9d8-4c99ec5b48ed.vsidx
