################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VShop/FileContentIndex/02404c9e-4084-434b-8f80-2c46acdb9cc5.vsidx
/.vs/VShop/FileContentIndex/3aeed405-830e-4746-a988-4aef65718efa.vsidx
/.vs/VShop/FileContentIndex/7329a91f-f3c7-4833-8c60-f958c50f448f.vsidx
