################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VShop/FileContentIndex/02404c9e-4084-434b-8f80-2c46acdb9cc5.vsidx
